joblib==1.2.0
numpy==1.23.1
pandas==1.4.3
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.1
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
threadpoolctl==3.1.0
imbalanced-learn==0.10.1
-e file:./#egg=emotion_detection_system